<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Последние операции</title>
    <style type="text/css">
        table {border: 1px solid grey;}
        th {border: 1px solid grey; text-align: center}
        td {border: 1px solid grey; text-align: center}
    </style>
</head>
<body>

    {% if object_list %}
        <table>
            <tr>
                <th width="30%">Дата</th>
                <th width="10%">Сумма</th>
                <th width="10%">Счет</th>
            </tr>
            {% for item in object_list %}
            <tr>
                <td>{{ item.operation_date }}</td>
                <td>{{ item.value }}</td>
                <td>{{ item.bank_account }}</td>
            </tr>
            {% endfor %}
        </table>

    {% else %}
        <p>Таблица доходов/расходов пуста</p>
    {% endif %}

</body>
</html>