{% extends "budget/base.html" %}
{% block content %}

    <style type="text/css">
        table {border: 1px solid grey;}
        th {border: 1px solid grey; text-align: center}
        td {border: 1px solid grey; text-align: center}
    </style>
    {% if current_account %}
        <a href={% url 'expenditure-create' account=current_account %}>Добавить расход</a>
        <a href={% url 'transfer-create' account=current_account %}>Добавить перевод</a>
        <a href={% url 'income-create' account=current_account %}>Добавить доход</a>
    {% else %}
        <a href={% url 'expenditure-create' %}>Добавить расход</a>
        <a href={% url 'transfer-create' %}>Добавить перевод</a>
        <a href={% url 'income-create' %}>Добавить доход</a>
    {% endif %}

    {% if object_list %}
        <table>
            <tr>
                <th width="10%">дата</th>
                <th width="10%">сумма</th>
                <th width="10%">счет</th>
                <th width="10%">источник</th>
                <th width="10%"></th>
            </tr>
            {% for item in object_list %}
            <tr>
                <td {% if item.signed_value < 0 %} bgcolor="#cd5c5c" {% else %} bgcolor="#90ee90" {% endif %}>{{ item.operation_date }}</td>
                {% if current_account %}
                    <td><a href={% url 'cashflow-edit' account=current_account pk=item.id %}>{{ item.signed_value }}</a></td>
                {% else %}
                    <td><a href={% url 'cashflow-edit' pk=item.id %}>{{ item.signed_value }}</a></td>
                {% endif %}
                <td>{{ item.account }}</td>
                <td>{{ item.comment }}</td>
                <td>
                    <form action=
                            {% if current_account %}
                                  {% url 'cashflow-delete' account=current_account pk=item.id %}
                            {% else %}
                                {% url 'cashflow-delete' pk=item.id %}
                            {% endif %} method="post">
                        {% csrf_token %}
                        <input type="submit" value="удалить">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        {# .... **Now the pagination section** .... #}
        {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="/?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="page-current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
        {% endif %}
    {% else %}
        <p>Таблица доходов/расходов пуста</p>
    {% endif %}

{% endblock %}
