{% extends "base.html" %}

{% block content %}
    <form method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        {{ form.as_p() }}
        <button type="submit" class="btn btn-success">Сохранить</button>
    </form>

    {% if pk %}
        {% set account_param = "" %}
        {% if current_account %}
            {% set account_param = "?bank_account=" ~ current_account %}
        {% endif %}

        <form method="post" action="{{ url('cashflow-delete', args=[pk]) }}{{ account_param }}">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <button type="submit" class="btn btn-danger">Удалить</button>
        </form>
    {% endif %}
{% endblock %}